body {
    font-family: Exo;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}

h1{
    font-size: 1.5em;
}

.container {
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 75vw;
    height:80vh;
    text-align: center;
    background:#3a393c;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#chatbox {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    height: 48vh;
    overflow:wrap;
    overflow-y: auto;
    background:#2e2e2f;
}

#messages {
    list-style: none;
    padding: 0;
    margin: 0;
    color:white;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message .sender {
    font-weight: bold;
    margin-right: 10px;
}

.message .content {
    word-wrap: break-word;
    text-align: left;
}

#user-input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow-y:auto;
    background:#2e2e2f;
    color:white;
}

#send-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#send-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#send-button:disabled:hover {
    background-color: #aaaaaa; /* Hover color for disabled state */
}

#send-button:not(:disabled):hover {
    background-color: #0056b3; /* Hover color for enabled state */
}

.flex {
    display:flex;

}

#codebase-url {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 10px;
    background: #2e2e2f;
    color: white;
}

#download-button {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #424242;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#download-button:hover {
    background-color: #8d8d8d;
}
